@import '../../scss/constants/index';

.edition {
	color: $color-gray;
	font-size: 16px;
	font-weight: 500;
	margin-bottom: 0.75rem;
}

.title {
	font-family: $headline-font;
	font-size: 34px;
	font-weight: $headline-font-weight;
	margin-bottom: 0.25rem;

	@media only screen and (max-width: 991px) {
		font-size: 30px;
	}
}

.author {
	color: $color-gray;
	font-size: 1rem;
}

.description {
	color: $color-gray;
	font-size: 1rem;
	line-height: 1.8rem;
	margin-top: 1.5rem;
}
