@import '../../scss/constants/index';

.price {
	align-items: center;
	display: flex;
	font-size: 16px;

	.now {
		border-radius: $radius;
		color: $color-accent;
		display: inline;
		font-size: 32px;
		font-weight: 700;
		line-height: 32px;
		margin-right: 10px;
	}

	.new {
		color: $color-gray;
		font-size: 10px;
		line-height: 1.25;
		margin: auto 0 2px;

		b {
			color: $color-gray;
			display: block;
		}
	}
}
