@import '../../scss/constants/index';

.price {
	align-items: center;
	display: flex;
	font-size: 18px;

	.now {
		color: $color-accent;
		font-size: 26px;
		font-weight: 700;
		margin-right: 10px;
	}

	.new {
		color: $color-gray;
		font-size: 12px;
		line-height: 1.2;

		b {
			color: $color-gray;
			display: block;
		}
	}
}
