@import '../../scss/constants/index';

.container {
	min-width: 280px;
}

.seller {
	border: 1px solid $color-light-gray;
	border-radius: $radius;
	padding: 20px;
}

.messenger {
	text-decoration: none;

	button {
		align-items: center;
		background-color: $color-dark;
		border-radius: 0.25rem;
		color: $color-white;
		display: flex;
		font-size: 1.1rem;
		line-height: 1.5;
		margin-top: 20px;
		padding: 10px;
		text-align: left;
		width: 100%;
		transition: $transition;

		&:hover {
			color: $color-white;
			transform: translateY(-3px);
			box-shadow: $box-shadow;
		}

		&:active {
			transform: translateY(10px);
			box-shadow: 0px 5px 6px rgba(0, 0, 0, 0);
		}
	}
}

.title {
	font-size: 0.935rem;
	font-weight: 600;
	text-transform: uppercase;
}

.legend {
	font-size: 14px;
	font-weight: 400px;
}

.icon {
	font-size: 32px;
	margin: 0 16px;
}

.name {
	color: $color-dark;
	font-weight: 700;
}

.profile {
	background-color: $color-light-gray;
	border-radius: 50%;
	display: block;
	height: 50px;
	width: 50px;
}

.location {
	color: $color-gray;
	font-size: 1.025rem;
}

.description {
	color: $color-gray;
	font-size: 0.925rem;
}
