// sass-lint:disable no-important
@import '../mixins/index';

$values: 1, 2, 3, 4, 5, 6, 7, 8, 9;

@each $i in $values {
	// margins
	.m#{$i} {
		margin: #{$i}rem !important;
	}

	.mt#{$i} {
		margin-top: #{$i}rem !important;
	}

	.mr#{$i} {
		margin-right: #{$i}rem !important;
	}

	.mb#{$i} {
		margin-bottom: #{$i}rem !important;
	}

	.ml#{$i} {
		margin-left: #{$i}rem !important;
	}

	.mtb#{$i} {
		margin-bottom: #{$i}rem !important;
		margin-top: #{$i}rem !important;
	}

	.mlr#{$i} {
		margin-left: #{$i}rem !important;
		margin-right: #{$i}rem !important;
	}

	// paddings
	.p#{$i} {
		padding: #{$i}rem !important;
	}

	.pt#{$i} {
		padding-top: #{$i}rem !important;
	}

	.pr#{$i} {
		padding-right: #{$i}rem !important;
	}

	.pb#{$i} {
		padding-bottom: #{$i}rem !important;
	}

	.pl#{$i} {
		padding-left: #{$i}rem !important;
	}

	.ptb#{$i} {
		padding-bottom: #{$i}rem !important;
		padding-top: #{$i}rem !important;
	}

	.plr#{$i} {
		padding-left: #{$i}rem !important;
		padding-right: #{$i}rem !important;
	}
}

.scroll {
	overflow-y: auto;
}

// height
.h100 {
	height: 100% !important;
}

// width
.w100 {
	width: 100% !important;
}

.mxw100 {
	max-width: 100% !important;
}

.mnw100 {
	min-width: 100% !important;
}

// flex
.flex {
	display: flex;
}

.flex-col {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.flex-1 {
	flex: 1;
}

.text-center {
	text-align: center;
}

.text-right {
	text-align: right;
}

.text-left {
	text-align: left;
}

.text-justify {
	text-align: justify;
}
