.row {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;

	&.row_right {
		justify-content: flex-end;
		text-align: right;
	}

	&.row_left {
		justify-content: flex-start;
		text-align: left;
	}

	&.row_center {
		justify-content: center;
		text-align: center;
	}

	&.row_middle {
		align-items: center;
	}

	&.row_between {
		justify-content: space-between;
	}
}

.col {
	flex: 1;
	max-width: 100%;

	&.col_auto {
		flex: 0;
	}

	@for $i from 1 to 12 {
		$pct: percentage($i/12);

		&.col_#{$i} {
			flex-basis: $pct;
			max-width: $pct;
		}

		&.col_offset-#{i} {
			margin-left: $pct;
		}
	}
}
