@import '../../scss/constants/index';

.button {
	background-color: $color-black;
	border-radius: $radius;
	color: $color-white;
	font-family: $button-font;
	font-weight: $button-font-weight;
	letter-spacing: 1px;
	text-transform: uppercase;
	height: 50px;
	width: 100%;

	i {
		margin-right: 10px;
	}
}
