@import '../../scss/constants/index';

.profile {
	i {
		cursor: pointer;
	}

	.dropdown {
		-webkit-transform: translate(-53%, 25%);
		background-color: $color-white;
		border: $border solid $color-light-gray;
		border-radius: $radius;
		padding: 20px;
		position: absolute;
		transform: translate(-75%, 25%);
		width: 170px;
		z-index: 1;
	}
}

.item {
	color: $color-gray;
	cursor: pointer;
	font-weight: 500;

	&:hover {
		text-decoration: underline;
	}
}
