@import '../../scss/constants/index';

.form {
	.cover {
		background-color: $color-light-gray;
		border-radius: $radius;
		display: block;
		height: 25vw;
		margin: 0 auto;
		max-height: 300px;
		max-width: 15vw;
		min-height: 250px;
		min-width: 140px;
		object-fit: cover;
		width: 100%;
	}

	button {
		font-size: 0.975rem;
		transition: $transition;

		&:hover {
			color: $color-white;
			transform: translateY(-3px);
			box-shadow: $box-shadow;
		}

		&:active {
			transform: translateY(10px);
			box-shadow: 0px 5px 6px rgba(0, 0, 0, 0);
		}
	}
}
