@import '../../scss/constants/index';

.form {
	.cover {
		background-color: $color-light-gray;
		border-radius: $radius;
		display: block;
		height: 25vw;
		max-height: 300px;
		max-width: 15vw;
		min-height: 250px;
		min-width: 140px;
		width: 100%;
		object-fit: cover;
	}
}
