body {
	overflow-x: hidden;
}

.cover {
	background-color: $color-light-gray;
	border-radius: $radius;
	display: block;
	object-fit: cover;
	width: 100%;
	max-width: 13vw;
	height: 20vw;
	min-width: 166px;
	min-height: 250px;
	transition: $transition;
}

.back-button {
	display: flex;

	a {
		border: 1px solid transparent;
		color: $color-dark;
		cursor: pointer;
		flex: none;
		font-size: 1.1rem;
		font-family: $button-font;
		font-weight: $button-font-weight;
		opacity: 0.9;
		transition: $transition;

		i {
			margin-right: 5px;
		}

		span {
			font-family: $button-font;
			font-weight: $button-font-weight;
		}

		&:hover {
			color: $color-dark;
			opacity: 0.7;
		}
	}
}

a {
	&:hover {
		text-decoration: none !important;
	}
}

.text-button-font {
	font-family: $button-font;
	font-weight: $button-font-weight;
}

.books-list {
	height: calc(100vh - 170px);
	overflow-y: scroll;
	overflow-x: hidden;

	@media only screen and (max-width: 991px) {
		height: auto;
	}
}
