.rundbok {
	color: $color-dark;
	font-size: 1.025rem;

	h1,
	h2,
	h3,
	h4 {
		color: $color-dark;
		font-family: $headline-font;
		font-weight: $headline-font-weight;
		line-height: 1.25;
	}

	h1 {
		margin-bottom: $spacing;
	}

	h2 {
		margin-bottom: $spacing / 2;
	}

	h3 {
		margin-bottom: $spacing / 3;
	}

	p {
		&:last-child {
			margin-bottom: 0;
		}
	}

	input,
	textarea {
		color: $color-gray;

		&::-webkit-input-placeholder {
			color: $color-light-gray;
			font-size: 0.95rem;
		}
	}

	.input-label {
		font-weight: bold;
	}

	.text-label {
		color: $color-dark;
		font-family: $headline-font;
		font-size: 0.975rem;
		font-weight: $headline-font-weight;
		letter-spacing: 1px;
		margin-bottom: 5px;
		text-transform: uppercase;

		&_lg {
			font-size: 1.25rem;
		}
	}

	.text-size {
		&_sm {
			font-size: 16px;
		}
	}

	.font-weight-medium {
		font-weight: 600;
	}

	label {
		&.text-label {
			font-size: 1rem;
		}
	}

	i {
		&.fab {
			font-weight: 400;
		}
	}

	a,
	.link {
		color: $color-gray;
		font-weight: 500;
		outline: none;

		&:hover {
			color: $color-gray;
			cursor: pointer;
			text-decoration: underline;
		}

		&.active {
			color: $color-dark;
		}
	}
}
