$headline-font: Josefin Sans, sans-serif;
$headline-font-weight: 700;

$button-font: Asap, sans-serif;
$button-font-weight: 700;

$spacing: 30px;
$radius: 3px;
$border: 1px;

$color-black: #000;
$color-dark: #181828;
$color-white: #fff;
$color-gray: #707392;
$color-light-gray: #d8d9e4;
$color-accent: #32ab00;
$color-danger: #ab0000;
$color-facebook: #0084ff;
