$headline-font: Josefin Sans, sans-serif;
$headline-font-weight: 700;

$button-font: Asap, sans-serif;
$button-font-weight: 700;

$spacing: 30px;
$radius: 4px;
$border: 1px;

$color-black: #000;
$color-dark: #181828;
$color-white: #fff;
$color-gray: #707392;
$color-light-gray: #d8d9e4;
$color-accent: #32ab00;
$color-danger: #ab0000;
$color-facebook: #3c5a99;

$transition: all 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
$box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.4);
