@import '../../scss/constants/index';

.logo {
	max-width: 255px;

	img {
		display: block;
		max-width: 100%;
		object-fit: contain;
	}
}

.rundbok {
	padding-left: $spacing / 2;
	width: 336px;
}

.school {
	width: 90px;
}
