@import '../../../scss/constants/index';

.searchbar {
	i {
		font-size: 22px;
	}

	.form-group {
		position: relative;

		i {
			color: $color-gray;
			font-size: 20px;
			pointer-events: none;
			position: absolute;
			top: 16px;
		}

		input {
			border: 0;
			color: $color-dark;
			height: 50px;
			padding-left: 30px;
			width: 100%;

			&:focus {
				outline: none;
			}
		}
	}

	.separator {
		background-color: $color-light-gray;
		display: block;
		height: 50px;
		width: 1px;
	}

	.profile-image {
		background-color: $color-light-gray;
		border-radius: 50%;
		display: block;
		height: 50px;
		width: 50px;
	}
}
