@import '../../scss/constants/index';

.login {
	align-items: center;
	background-color: $color-facebook;
	border-radius: $radius;
	color: $color-white;
	display: flex;
	font-family: $button-font;
	font-weight: $button-font-weight;
	outline: none;
	padding: 10px 15px;
	position: relative;
	width: 100%;
	font-size: 18px;

	i {
		margin-right: 10px;
		font-size: 24px;
	}
}
