.spacing {
	height: $spacing;

	&_md {
		height: $spacing * 1.5;
	}

	&_lg {
		height: $spacing * 2;
	}

	&_xl {
		height: $spacing * 3;
	}

	&_sm {
		height: $spacing / 2;
	}

	&_xs {
		height: $spacing / 3;
	}
}

.spacing-h {
	display: inline-block;
	width: $spacing;

	&_lg {
		width: $spacing * 2;
	}

	&_xl {
		width: $spacing * 3;
	}

	&_sm {
		width: $spacing / 2;
	}

	&_xs {
		width: $spacing / 3;
	}

	&_space {
		width: $spacing / 6;
	}
}
